{% block pageTitle %}
GOVUK Claiming PIP if you might have 12 months or less to live
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">



<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

        <aside class="app-mainstream-guide-contents-list" role="complementary">
  <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
    <h2 class="app-contents-list__title">
      Contents
    </h2>
    <ol class="app-contents-list__list">

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
        <a href="./what-pip-is-for">
          What PIP is for
        </a>
      </li>
      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="./eligibility">
          Eligibility
        </a>
      </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="./how-much-youll-get">
          How much you’ll get
        </a>
      </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="./how-to-claim">
          How to claim
        </a>
      </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="./if-your-pip-claim-is-reviewed">
          If your PIP claim is reviewed
        </a>
      </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="./change-of-circumstances">
          Change of circumstances
        </a>
      </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
          Claiming PIP if you might have 12 months or less to live
      </li>

    </ol>
  </nav>
</aside>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">Claiming PIP if you might have 12 months or less to live</h1>

        <p class="govuk-body">You can get Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) more quickly if:</p>

        <ul class="govuk-list govuk-list--bullet">
         <li>your doctor or a medical professional has said you might have 12 months or less to live</li>
         <li>you’re aged 16 or over</li>
        </ul>

        <p class="govuk-body">You must also be under <a href="/state-pension-age">State Pension age</a> if you’ve not received <abbr title="Personal Independence Payment">PIP</abbr> before.</p>

        <div class="govuk-inset-text">
          <p class="govuk-body">If you live in Scotland, you may need to <a rel="external" href="https://www.mygov.scot/adult-disability-payment">apply for Adult Disability Payment (ADP)</a> instead. <a rel="external" href="https://www.mygov.scot/adult-disability-payment/applicants">Check if you are eligible for ADP</a>.</p>
        </div>

        <h2 class="govuk-heading-m">What you’ll get</h2>

        <p class="govuk-body">You’ll get the higher daily living part of £101.75 per week.</p>

        <p class="govuk-body">Whether you get the mobility part and how much you’ll get depends on your needs. The lower weekly rate is £26.90 and the higher weekly rate is £71.00.</p>

        <h2 class="govuk-heading-m">How to claim</h2>

        <p class="govuk-body">You can claim for yourself or someone else can do it for you.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
          <p class="govuk-body">Call the PIP claims line to start your claim.</p>
          </li>
          <li>
          <p class="govuk-body">Ask a medical professional for form SR1. They’ll either fill it in and give the form to you or send it directly to the Department for Work and Pensions (DWP).</p>
          </li>
          <li>
          <p class="govuk-body">If you also claim Universal Credit, <a href="/sign-in-universal-credit">sign in to your online account</a> and use your journal to say that you have sent an SR1 to DWP.</p>
          </li>
        </ol>
        <p class="govuk-body">You will not need to go to a face-to-face assessment.</p>

        <p class="govuk-body">If you need someone to help you, you can:</p>

        <ul class="govuk-list govuk-list--bullet">
         <li>ask for them to be added to your call - you cannot do this if you use textphone</li>
         <li>ask someone else to call on your behalf - you’ll need to be with them when they call</li>
        </ul>

        <div class="govuk-inset-text">
          <p class="govuk-body">PIP claims<br>
          Telephone: 0800 917 2222<br>
          Textphone: 0800 917 7777<br>
          <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
          British Sign Language (BSL) <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">use the service on mobile or tablet</a><br>
          Calling from abroad: +44 191 218 7766 <br>
          Monday to Friday, 9am to 5pm<br>
          <a href="/call-charges">Find out about call charges</a></p>
        </div>

        <div class="govuk-inset-text">
          <p class="govuk-body">You may be able to get other <a href="/benefits-end-of-life">benefits if you’re nearing the end of life</a>.</p>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Subsection
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#" class="govuk-!-font-weight-bold">
          More <span class="govuk-visually-hidden">in Subsection</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>


<!-- Disability Living Allowance (DLA) for adults
Disability Living Allowance (DLA) for children
Attendance Allowance
Financial help if you're disabled
Find a community support group or organisation -->

      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--prevous">
                <a href="#" class="govuk-link app-pagination__link" rel="Prevous">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Previous
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    Link to preivous page
                  </span>
                </a>
              </li>

            </ul>
          </nav>


      </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
