{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">
                <h1 class="govuk-caption-xl">Jasmine Smith</h1>
                <h1 class="govuk-heading-xl">Account home</h1>

            

        
                <hr>
                <br>
                <div class="govuk-grid-row">
                
              
             
             
                    <div class="govuk-grid-column-one-half">
      
             
                      <h2 class="govuk-heading-m"> <a href="../apply-for-pip/start.html" class="govuk-link">Continue James Smith's application </a></h2>
                     
                      <p>Add information for the second stage of <br>their PIP application.</p>
                        </div>
                  <br>
                <br>

              </div>
            </main>
          </div>

    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
