{% extends "layout.html" %}

{% set pageTitle = "Help with answering questions and providing evidence (PDF)" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
<p style="padding: 20px; margin: 0"><strong>Subject:</strong> {{ pageTitle }}</p>
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="notify-width-container"><div class="govuk-grid-row">
  <div class="govuk-grid-column-full sans">{% include "apply-for-pip/includes/back-link.html" %}</div> </div></div>

{% endblock %}
{% block content %}

<div class="notify-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">
    <!--<h2 class="govuk-heading-m">When you need to do it by</h2>

      <p>Please answer all the questions and upload any evidence you have by: <br>
       <b>15 October 2024 </b> </p>

      <p>If you miss this date, we may end this PIP claim. If you need more time to complete, 
        let us know. </p>
       -->  
        <h1 class="govuk-heading-xl govuk-!-font-weight-regular">Personal Independence <br> Payment </h1>
        <h1 class="govuk-heading-l">How your disability affects you -<br> Information Booklet </h1>
   <br>
     <h2 class="govuk-heading-m">This information booklet will help you fill in the online<br> claim form</h2>

     <p>In it we:
      <ul class="govuk-list govuk-list--bullet">
        <li>explain the questions we ask </li>
          <li>tell you how to answer the questions</li>
          <li>give you examples of other things you can tell us</li>
          <li>tell you what you need to do next</li>
          </ul>
          <br>
      <br>
      <br>
      <br>
      <br>
<br>
<br>
<br>
<h2 class="govuk-heading-m">Things to do before you fill in the online form</h2>
<p> As you are completing the form on behalf of someone else, here are some  
  things you may want to consider.</p>
<p>Before you fill in the form, it will be useful to have ready some of the 
  things listed below. <br>Do not worry if you only have some of them: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the name of professionals who might be supporting them on a 
      regular basis </li>
      <li>details of their medication or an up-to-date printed prescription list if 
        you have one </li>


    </div>{# /govuk-grid-column-two-thirds #}
    <div class="govuk-grid-column-full sans">
    
    <p>You may find it helpful to keep a diary over a number of days – write down 
      a list of things they have needed help with or found difficult. If the impact 
      of their health condition or disability varies over time, you may want to 
      keep a record of this. You can upload photos or scanned images of the 
      diary with the form if you want to.</p>

      <br>
     <p>You do not have to fill in the form in one go. Take your time and describe 
      all the help they need.</p> 

      <br>
      <p>It is very important that you give us any relevant evidence or information 
        you already have that explains their circumstances. For example, this 
        might include: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prescription lists  </li>
            <li>care plans</li>
            <li>reports or information from professionals such as</li>
         
           <p> - a GP <br>- hospital doctor <br> - specialist nurse <br> - community psychiatric nurse <br> - occupational therapist <br> - physiotherapist <br> - social worker <br> - support worker, or <br> - counsellor </p>
           
            <li>any other information you think would be helpful for us to see  </li>
            
          </div>
            <div class="govuk-grid-column-full sans">
            <p>The supporting evidence you send does not need to be recent.</p>
            <p>Please only upload and send in files, photos or scanned images of things  
              that are available to you or easy to get. Do not request other documents which 
              might slow down the claim or for which there might be fee charged. </p> <p> – for example, from their GP. If we need this evidence, we will ask for it 
              ourselves, if we have permission.</p>

            <p class="govuk-!-font-weight-bold"> We only need photos (or scanned images) of documents and 
              paperwork, we do not need photos of physical proof of their condition 
              or disability – for example a photo of their prosthetic limb.</p>

              <p>Please upload and send any documents you have available when you  
                submit the completed online claim form. If there is any 
                delay in receiving evidence which you intend to rely on, this may mean: </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>their claim to PIP will take longer to assess </li>
                    <li>you may be required to talk to a health professional to be assessed 
                      when it may not have been necessary </li>
                    <li>we may not be able to get all the information we need to make sure 
                      they get the right daily living and mobility award for their needs </li>
                    </ul>

                    <h2 class="govuk-heading-m">How the Department for Work and Pensions 
                      collects and uses information </h2>

                      <p>When we collect information we may use it for any of our 
                        purposes. These include: 
                        <ul class="govuk-list govuk-list--bullet">
                          <li>social security benefits and allowances  </li>
                            <li>child maintenance</li>
                            <li> employment and training </li>
                            <li>investigating and prosecuting tax credits offences</li>
                            <li>private pensions and retirement planning</li>
                            </ul>
                            <p>We may get information from other parties for any of our 
                              purposes as the law allows to check the information provided and 
                              improve our services. We may give information to other 
                              organisations as the law allows, for example to protect against crime.</p>

                              <p>To find out more about our purposes, how we use personal information 
                                for those purposes and your information rights, including how to request 
                                a copy of your information, please visit </p>

                                <p> <a href="www.gov.uk/dwp/personal-information-charter "> www.gov.uk/dwp/personal-information-charter </p> </a>

                                  <h2 class="govuk-heading-m">Where to get help and advice about PIP  </h2>
              <p>There is an online DWP video you might find helpful. To find it, go to 
                YouTube and search ‘PIP providing information to support your claim’. 
                Scroll down the list of results and select the official DWP video. </p>

                <p>You can also: 
                  <ul class="govuk-list govuk-list--bullet">
                    <li>phone 0800 121 4433 </li>
                      <li>call 0800 121 4493 if using a textphone</li>
                      <li> contact local advice agencies who can provide independent help 
                        and support </li> <br>
                        <p>If you are awarded PIP, you or your carer may be entitled to: </p>
                        <li>Carer’s Allowance or Carer’s Credit </li>
                        <li>access to the Motability scheme if you are awarded the enhanced 
                          rate of the mobility component of PIP </li>

  </div>{# /govuk-grid-row #}

</div>{# /notify-width-container #}

{% endblock %}
{% block footer %}
{% endblock %}
