{% extends "layout.html" %}

{% set pageTitle = "Personal Independence Payment: Application submitted" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
<p style="padding: 20px; margin: 0"><strong>Subject:</strong> {{ pageTitle }}</p>
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="notify-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">

      <p>This is an automatic reply email. Thank you for sending information about how James Smith's health condition or disability affects them.</p>

      <p>We will send this information to a health professional to consider before we make our decision. </p>

      <p>If we need more information we may invite you both to attend an assessment/we may invite you to complete a telephone assessment about James' health.</p>
      
      <h2 class="govuk-heading-m">If you have uploaded supporting evidence </h2>

      <p>We will include this in the PIP application and consider it before we make our decision. </p>
       
      <h2 class="govuk-heading-m">If you need to upload more supporting evidence</h2>

  <p>Sign in to upload any more evidence that might support James' application.</p>
      <p>You can continue to upload supporting evidence until 31 October 2024. </p>
      <p>You may find it useful to save this email and bookmark the sign in page. You won't need to answer any questions about daily living activities or mobility again.</p>
      <p>To sign in, you'll need your email address, mobile phone and password.</p>
      <p>Go to <a href="../apply-for-pip/health-form/task-list.html" >https://www.apply-for-pip.dwp.gov.uk/main/task-list</a></p> <br>
        
      <h1 class="govuk-heading-m">If anything changes or you need help </h1>
    
     <p>Please contact us if:
      <ul class="govuk-list govuk-list--bullet">
        <li>any details you gave us have changed</li>
          <li>ayou need help with the claim</li>
          <li>you do not want to continue with the PIP claim</li>
      </ul>

        <h2 class="govuk-heading-m">Contact us</h2>
        <p>Get in touch with the Department for Work and Pensions.</p>
        <div class="govuk-inset-text">
      <p>Telephone: 0800 121 4433<br>
      Textphone (if you have speech or hearing difficulties): 0800 121 4493 <br>Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 4433 <br>
      <a href="#">https://www.relayuk.bt.com </a></p>

      <p>Video relay service for British Sign Language (BSL) users:<br> <a href="#">https://
        conntect.interpreterslive.co.uk/vrs?ilc=DWP</a> <br> <br>
        Check if you can use the video relay service: <br> 
        <a href="#"> https://www.youtube.com/watch?v=oELNMfAvDxw </a></p>
        <p>Open 9am to 5pm, Monday to Friday</p>
        </div>
        
      
        <p>Please do not reply to this message. We will not answer any emails sent to this email address. If you have any questions about PIP or the application you've submitted, contact us.</p>

        <p>DWP will never ask you to send any usernames, passwords, personal, health, medical or bank account information via email.</p>


    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

</div>{# /notify-width-container #}

{% endblock %}
{% block footer %}
{% endblock %}
