{% extends "v15/user-journey/two/layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<style>
.dwp-timeline {
  font-family: Arial, sans-serif;
  }

  .dwp-timeline__events {
  border-left: 3px solid #1d70b8;
  list-style-type: none;
  padding: 0;
  }

  .dwp-timeline__events--entry {
  margin: 32px 0;
  padding-left: 18px;
  position: relative;
  top: -10px;
  }

  .dwp-timeline__events--entry::before {
  background-color: #1d70b8;
  content: '';
  height: 3px;
  left: -1px;
  position: absolute;
  top: 10px;
  width: 11px;
  }
  </style>

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Stage 2 submitted
            </h3>
    </div>
  </div>

  <p class="govuk-body">You've completed stage 2: How your disability affects you.</p>
  <p class="govuk-body">We've sent a confirmation email to (your@email.com).</p>

  <h2 class="govuk-heading-m">Download a copy of your application</h2>

  <p><a href="#">Download a copy of your completed application form (PDF)</a></p>
  <p class="govuk-body">You will not be able to download your completed form after you leave this page.</p>


      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We will keep you up to date about your PIP claim by text message if you have agreed for us to do this.</p>

      <p class="govuk-body">You might be contacted to arrange an assessment with a health professional if more information is needed. You may not need an assessment if you have provided enough information for us to make a decision.</p>

      <h2 class="govuk-heading-m">Confirm your identity</h2>
      <p class="govuk-body">In the next section you need to confirm your identity.</p>
      <p class="govuk-body">You can continue now or <a href="">sign out</a> and come back later. Your progress has been saved.</p>
      <p class="govuk-body">There's no deadline to confirm your identity. But it's important you do so that we can pay you straight away if your application is successful. We check everyone's identity to protect from fraud.</p>

      <input type="submit" class="govuk-button" data-module="govuk-button" value="Confirm your identity" id="submit">

    </div>{# /govuk-grid-column-two-third #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="dwp-timeline">
          <h1 class="govuk-heading-m">Your claim</h1>
          <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Stage 1: Claim registration</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
              <p class="govuk-caption-m">Completed</p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Stage 2: How your disability affects you</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
              <p class="govuk-caption-m">Completed</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Confirm your identity</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
            <p class="govuk-caption-m">Not started</p>
         </li>
          <!-- <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Potential assessment</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
            <p class="govuk-caption-m">Pending</p>
        </li> -->
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Award decision</h2>
          <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
          <p class="govuk-caption-m">Pending</p>
        </li>
          </ol>
          </div>
        </div>
    <div>{# /govuk-grid-column-one-third #}

  </div>{# /govuk-grid-row #}
</form>

{% endblock %}
