{% set pageTitle = "Check your answers: about your health" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers: about your health</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['your-condition'] | capitalize }}</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition or disability
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['your-condition'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./pip1-condition">
                Change<span class="govuk-visually-hidden"> condition or disability</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['condition-start-date'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./pip1-condition">
                Change<span class="govuk-visually-hidden"> condition start date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              About this condition or disability
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pip1-condition-detail'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./pip1-condition-details">
                Change<span class="govuk-visually-hidden"> condition details</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    {% if data['condition2'] === 'Yes' %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['another-condition'] | capitalize }}</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition or disability
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['another-condition'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./condition">
                Change<span class="govuk-visually-hidden"> condition or disability</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['another-condition-start-date'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./condition">
                Change<span class="govuk-visually-hidden"> condition start date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              About this condition or disability
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['another-condition-detail'] | capitalize }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="./condition-details">
                Change<span class="govuk-visually-hidden"> condition details</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {% endif %}

    <p><a href="./condition">Add another condition or disability</a></p>

    <p><a href="../task-list-health-complete" class="govuk-button">Confirm and save</a></p>

    <!-- <p><a href="../task-list?aboutyourhealth=completed" class="govuk-button">Confirm and save</a></p> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
