{% set pageTitle = "Tell us about the difficulties you have with reading words or symbols and how you manage them" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {{ govukTextarea({
        name: "reading-details",
        id: "reading-details",
        rows: "18",
        value: data['reading-details'],
        label: {
          text: "Difficulties reading words or symbols",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          html: '
          <p>For each difficulty, please tell us:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how often they have this difficulty – tell us about both good and bad days</li>
            <li>what the difficulty is</li>

            <li>why they have it, or how it relates to their condition</li>
            <li>any aids or adaptations they use, or help they get from another person</li>
            <li>any help you feel they need but do not get</li>
          </ul>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Examples</h2>
            <p>“They are never able to read one sentence after another because they confuse the order of the letters and words. They use a portable scanner to help them understand written words more quickly.”</p>
            <p>“They have dyslexia and need to use a yellow filter to help them to read.”</p>
            <p>“Most days, they are unable to read at all because they experience double vision and are unable to focus. Their partner reads for them when they are unable to do it themselves.”</p>
          </div>
          <h2 class="govuk-heading-m">Tell us about the difficulties they have with reading words or symbols and how they manage them</h2>
        '
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "./_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
