{% set pageTitle = "Claimant Home" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<style>
  div.govuk-grid-column-one-third h2 {border-top: 1px solid #b1b4b6; padding-top: 20px;
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <br><br>
      <span class="govuk-caption-xl">Jeff Bridges</span>
      <h1 class="govuk-heading-xl">Account home</h1>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="/v20/claim-registration/start">Start a new claim</a></h2>
        <p class="govuk-body">Apply for PIP.</p>
      </div>

      <!-- <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="change-details">Change your personal details</a></h2>
        <p class="govuk-body">For example your name, address or doctor.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="change-of-circs">Report a change in needs or circumstances</a></h2>
        <p class="govuk-body">For example if the help you need or your condition changes.</p>
      </div> -->


  </div>{# /govuk-grid-column-full #}
</div>{# /govuk-grid-row #}


{% endblock %}
