{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {% call govukFieldset({
        classes: 'moj-add-another__item',
        legend: {
          text: 'Enter appointee details',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
<br>


      {{ govukInput({
        id: 'appointee-first-name',
        name: 'appointee-first-name',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'First name',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: "Include capital letters in the name where needed. For example, Janet."
        }
      }) }}

      {{ govukInput({
        id: 'appointee-last-name',
        name: 'appointee-last-name',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Last name',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: "Include capital letters in the name where needed. For example, Smith-Johnson."
        }
      }) }}

      {{ govukInput({
        id: 'appointee-email',
        name: 'appointee-email',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Email address',
          classes: 'govuk-!-font-weight-bold'
        },        hint: {
          text: "This is the email address the PIP2 invite will be sent to."
        }, id: "appointee-email",
        name: "appointee-email"
      
      }) }}

      {{ govukInput({
        id: 'appointee-mobile',
        name: 'appointee-mobile',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Mobile number',
          classes: 'govuk-!-font-weight-bold'
        }
      }) }}

{{ govukInput({
  id: 'appointee-postcode',
  name: 'appointee-postcode',
  classes: "govuk-!-width-two-thirds",
  label: {
    html: 'Postcode',
    classes: 'govuk-!-font-weight-bold'
  }
}) }}

{{ govukButton({
  text: "Continue"
}) }}
      {% endcall %}

   

    </form>




  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
