{% block pageTitle %}
Apply for PIP again
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Start a new claim</h1>

      <p>You can apply for PIP again.</p>
      <p>Your new claim will not contain any information from previous claims.</p>

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
