{% block pageTitle %}
Select address
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip1.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Select address
            </h1>
          </legend>

          <div class="govuk-width-container">
      <p>27 addresses found for <b>WR1 3DU</b>. <a href="search">Search again</a></p>

      <form method="post" autocomplete="off" action="/confirm-address">



<div class="govuk-form-group">

  <div class="govuk-radios govuk-!-width-full" data-module="govuk-radios">






        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hcp-address" name="hcp-address" type="radio" value="1 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="hcp-address">
        1 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-2" name="hcp-address" type="radio" value="3 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-2">
        3 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-3" name="hcp-address" type="radio" value="Albany House Surgery  , 4 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-3">
        Albany House Surgery  , 4 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-4" name="hcp-address" type="radio" value="5 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-4">
        5 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-5" name="hcp-address" type="radio" value="6 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-5">
        6 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-6" name="hcp-address" type="radio" value="7 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-6">
        7 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-7" name="hcp-address" type="radio" value="8 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-7">
        8 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-8" name="hcp-address" type="radio" value="9 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-8">
        9 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-9" name="hcp-address" type="radio" value=" Flat 1 , 10 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-9">
         Flat 1 , 10 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-10" name="hcp-address" type="radio" value=" Flat 2 , 10 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-10">
         Flat 2 , 10 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-11" name="hcp-address" type="radio" value=" Flat 3 , 10 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-11">
         Flat 3 , 10 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-12" name="hcp-address" type="radio" value=" Flat 4 , 10 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-12">
         Flat 4 , 10 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-13" name="hcp-address" type="radio" value=" Garden Flat , 10 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-13">
         Garden Flat , 10 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-14" name="hcp-address" type="radio" value="11 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-14">
        11 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-15" name="hcp-address" type="radio" value="12 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-15">
        12 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-16" name="hcp-address" type="radio" value="13 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-16">
        13 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-17" name="hcp-address" type="radio" value="14 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-17">
        14 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-18" name="hcp-address" type="radio" value=" Flat 1 , 15 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-18">
         Flat 1 , 15 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-19" name="hcp-address" type="radio" value=" Flat 2 , 15 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-19">
         Flat 2 , 15 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-20" name="hcp-address" type="radio" value="16 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-20">
        16 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-21" name="hcp-address" type="radio" value="17 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-21">
        17 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-22" name="hcp-address" type="radio" value="18 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-22">
        18 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-23" name="hcp-address" type="radio" value="19 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-23">
        19 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-24" name="hcp-address" type="radio" value="20 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-24">
        20 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-25" name="hcp-address" type="radio" value="21 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-25">
        21 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-26" name="hcp-address" type="radio" value="22 Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-26">
        22 Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>








        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-27" name="hcp-address" type="radio" value="United Reformed Church  ,  Albany Terrace, Worcester, WR1 3DU">
          <label class="govuk-label govuk-radios__label" for="address-27">
        United Reformed Church  ,  Albany Terrace, Worcester, WR1 3DU
      </label>

        </div>




  </div>

</div>

      <br><br>
      <button class="govuk-button" data-module="govuk-button">
      Use this address
      </button>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="../hcp-address" class="govuk-link">Enter address manually</a></p>
      </div>

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
