{% set pageTitle = "About your health conditions or disabilities" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">    <p>You are viewing version B of this page. <a href="../about-your-health/condition-details" > Show version A</a> </p></div>

    <form action="#" method="post" novalidate>
      
      <h1 class="govuk-heading-l"> About this condition or disability</h1>
        
      <h1 class="govuk-heading-m"> Tablets and medication</h1>

     
        {{ govukTextarea({
          id: 'condition-name-2',
          name: 'condition-name-2',
          label: {
            html: 'What tablets or other medication do they take or plan to take 
            and the dosage?',
            classes: 'govuk-!-font-weight-bold'
          },
          hint: {
            text: "For example, co-codamol, 8mg, 3 times a day."
          }
        }) }}

        {{ govukTextarea({
          id: 'condition-name-3',
          name: 'condition-name-3',
          label: {
            html: 'Do they experience any side effects?',
            classes: 'govuk-!-font-weight-bold'
          },
          hint: {
            
          }
        }) }}
<br>
<h1 class="govuk-heading-m"> Treatments</h1>
{{ govukTextarea({
  id: 'condition-name-4',
  name: 'condition-name-4',
  label: {
    html: 'What treatments have they had, currently are having or have 
    planned for the future?',
    classes: 'govuk-!-font-weight-bold'
  },
  hint: {
    text: "Include private and NHS funded treatments."
  }
}) }}
   
{{ govukTextarea({
  id: 'condition-name-3',
  name: 'condition-name-3',
  label: {
    html: 'Do they experience any side effects?',
    classes: 'govuk-!-font-weight-bold'
  },
  hint: {
    
  }
}) }}

<button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
      <!-- <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="condition-start-date">
          Approximate start date?
          </label>
        </h1>
        <div id="condition-start-date-hint" class="govuk-hint">
          For example, about 14 months ago.
        </div>
        <input class="govuk-input" id="condition-start-date" name="condition-start-date" type="text" aria-describedby="condition-start-date-hint">
      </div>
 -->
<!--        text: 'Save and continue'
      }) }} -->

    </form>
    {% include "apply-for-pip/includes/back-link.html" %}
    

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
