{% set pageTitle = "Your Stage 2 PIP submission" %}

{% extends "v16/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <header style="background:#1d70b8; padding: 30px; margin-bottom: 30px;">
    <span class="govuk-caption-xl" style="color: #ffffff;">
      Your submission
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" style="color: #ffffff;">
      Stage 2: How your health condition or disability affects you
    </h1>
    <p class="govuk-body-s" style="color: #ffffff; margin-bottom: 0;">Submitted 20 October 2023</p>
  </header>

  <div class="govuk-grid-column-full">

    <h2 id="details" class="govuk-heading-l">
      Your details
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Martin Johnson
        </dd>
      </div> <!-- govuk-summary-list__row -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ 12 34 56 Q
        </dd>
      </div> <!-- govuk-summary-list__row -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          12 - 02 - 1977
        </dd>
      </div> <!-- govuk-summary-list__row -->
    </dl>

    <h2 id="health" class="govuk-heading-l">
      About your health
    </h2>

    <h3 class="govuk-heading-s">
      What health condition or disability do you have?
    </h3>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Kidney Failure</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              November 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              About this condition or disability
            </dt>
            <dd class="govuk-summary-list__value">
              Meds and treatment test content
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have another condition or disability?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div> <!-- govuk-summary-list__row -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any health professionals that you would like to tell us about?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div> <!-- govuk-summary-list__row -->
    </dl>



    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">James Smith</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                James Smith
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Profession
              </dt>
              <dd class="govuk-summary-list__value">
                Dr
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                01280 123456
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                1 The Street<br>
                <br>
                <br>
                <br>
                <br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last contact
              </dt>
              <dd class="govuk-summary-list__value">
                6 weeks ago
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 id="daily-living" class="govuk-heading-l">
        About your daily living activities
      </h2>

      <h3 class="govuk-heading-m">
        Preparing food
      </h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you preparing food, or prevent you from doing so?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difficulties you have with preparing food and how you manage them
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-m">
        Eating and drinking
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you eating and drinking?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Managing treatments
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you managing your treatments?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difficulties you have with monitoring changes in your health condition or disability and taking medication, and how you manage them
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Therapies you take at home that need the help of another person
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Washing and bathing
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you washing and bathing?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Using the toilet and managing incontinence
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you using the toilet or managing incontinence?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Dressing and undressing
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you dressing or undressing?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Talking, listening and understanding
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you talking, listening and understanding?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Reading
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect your ability to read?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Mixing with other people
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you mixing with other people?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">
        Managing money
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you managing your money?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h2 id="mobility" class="govuk-heading-l">
        About your mobility activities
      </h2>

      <h3 class="govuk-heading-m">
        Planning and following a journey
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you planning and following journeys?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>


      <h3 class="govuk-heading-m">
        Moving around
      </h3>


      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition affect you moving around?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How far can you walk using any aids or appliances you need?
          </dt>
          <dd class="govuk-summary-list__value">
            Less than 20 metres
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difficulties you have with moving around and how you manage them
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>

      </dl>

      <h2 id="additional-info" class="govuk-heading-l">
        Additional information
      </h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is there anything else you would like to tell us about?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additonal information
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>

      </dl>

      <h2 id="declaration" class="govuk-heading-l">
        Declaration
      </h2>

      <p>The information I have given on this form is correct and complete.</p>

      <p>I have provided the best information available to me at this time to support my claim.</p>

      <p>I will tell the Department for Work and Pensions straightaway, by phone or in writing, of any changes that may affect my claim. </p>

      <p>If my ability to carry out day-to-day activities or get around improves or gets worse, the amount of Personal Independence Payment (PIP) I get might change.</p>

      <p>If the information I give you is wrong or incomplete, or I do not report changes straightaway:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>my PIP payments might stop or reduce</li>
        <li>I might be paid too much PIP and have to pay this back</li>
        <li>I might have to pay a financial penalty</li>
        <li>I might be prosecuted
      </li>

      </ul>

      <p><strong>Agreed and submitted on 20th October 2023</strong></p>

    </div>

    <!-- <p><a href="../task-list?aboutyourhealth=completed" class="govuk-button">Confirm and save</a></p> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
