{% set pageTitle = "Search for a claimant" %}

{% extends "v24-1/includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Find an applicant or claimant </h1>



<form method="post" action="confirm-details">
  <div class="govuk-form-group">



      <label class="govuk-label" for="search-number">
          Enter a National Insurance number or email address
      </label>
      <input class="govuk-input" id="search-number" name="search-number" type="text">
  </div>
  <button class="govuk-button" data-module="govuk-button">Search</button>
</form>
{% endblock %}
