{% set pageTitle = "Check your answers: about your health or care professionals" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers: about your health or care professionals</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['hcp-1-name'] }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="./pip1-health-professional">
              Change<span class="govuk-visually-hidden"> of {{ data['hcp-1-name'] }}</span>
            </a>
          </li>
          <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> {{ data['hcp-1-name'] }}</span>
            </a>
          </li> -->
        </ul>
      </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hcp-1-name'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Profession
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hcp-1-profession'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hcp-1-phone'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hcp-1-address-line-1'] }}<br>
                {{ data['hcp-1-address-line-2'] }}<br>
                {{ data['hcp-1-address-town'] }}<br>
                {{ data['hcp-1-address-county'] }}<br>
                {{ data['hcp-1-address-postcode'] }}<br>
                {{ data['hcp-1-address-country'] }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last contact
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hcp-1-last-contact'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      {% if data['professional2'] === 'Yes' %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">{{ data['hcp-2-name'] }}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="./health-professional">
                Change<span class="govuk-visually-hidden"> of {{ data['professional-name-1'] }}</span>
              </a>
            </li>
            <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> {{ data['hcp-1-name'] }}</span>
              </a>
            </li> -->
          </ul>
        </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['hcp-2-name'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Profession
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['hcp-2-profession'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['hcp-2-phone'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['hcp-2-address-line-1'] }}<br>
                  {{ data['hcp-2-address-line-2'] }}<br>
                  {{ data['hcp-2-address-town'] }}<br>
                  {{ data['hcp-2-address-county'] }}<br>
                  {{ data['hcp-2-address-postcode'] }}<br>
                  {{ data['hcp-2-address-country'] }}<br>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last contact
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['hcp-2-last-contact'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

      {% endif %}

    <p><a href="./health-professional">Add another health or care professional</a></p>

    <p><a href="../task-list-hcp-complete" class="govuk-button">Confirm and save</a></p>

    <!-- <p><a href="../task-list?aboutyourhealthprofessionals=completed" class="govuk-button">Confirm and save</a></p> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
