{% extends "v23/includes/layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           
              

      



                <h1 class="govuk-heading-xl">Research April 2025</h1>

                 
                  <a href="can-apply-online-new-repeat-claim/search" class="govuk-body">Scenario 1</a>
                  <br><br>
                  <a href="application-in-progress/search" class="govuk-body">Scenario 2</a>
                  <br><br>
                  <a href="active-claim-more-than-6-months/search" class="govuk-body">Scenario 3</a>
              

                
         

                

              <!--    <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">End to End Journey (WIP)</h2>
                    <p class="govuk-body">Prototype showing the end to end PIP Apply journey</p>
                    <a href="apply-for-pip/govuk/how-to-claim" class="govuk-button govuk-button">View</a>
                  </div> -->
              </div>
            </main>
          </div>



    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
