{% set pageTitle = "Check your answers: about your health or care professionals" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">About your health or care professionals</span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['professional-name-1'] }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="./health-professional">
              Change<span class="govuk-visually-hidden"> of {{ data['professional-name-1'] }}</span>
            </a>
          </li>
          <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> {{ data['hcp-1-name'] }}</span>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-name-1'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Profession
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-profession-1'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-phone-1'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-address-line-1-1'] }}<br>
              {{ data['professional-address-line-2-1'] }}<br>
              {{ data['professional-address-town-1'] }}<br>
              {{ data['professional-address-county-1'] }}<br>
              {{ data['professional-address-postcode-1'] }}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last contact
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['hcp-1-last-contact'] }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <p><a href="./health-professional">Add another health or care professional</a></p>

    <div class="govuk-button-group">
      <a href="../preparing-food/intro" class="govuk-button">Confirm and continue</a>
      <a href="../task-list?aboutyourhealthprofessionals=completed" class="govuk-button govuk-button--secondary">Confirm and return to list</a>
    </div>

    <!-- <p><a href="../task-list?aboutyourhealthprofessionals=completed" class="govuk-button">Confirm and save</a></p> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
