{% set pageTitle = "Change details" %}

{% extends "v24-2/includes/layout.html" %}

{% block beforeContent %}
  {% include "v24-2/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirmation" method="post" novalidate>

      {% call govukFieldset({
        legend: {
          text: 'Enter claimant details',
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}
<br>

      {{ govukInput({
        id: "claimant-ni",
        name: "claimant-ni",
        label: {
          html: 'National Insurance number',
          classes: 'govuk-!-font-weight-bold'
        },
        value: 'AA 11 22 33 D	',
        hint: {
          text: "It's on their National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'."
        }
      }) }}

      {{ govukInput({
        id: 'claimant-first-name',
        name: 'claimant-first-name',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'First name',
          classes: 'govuk-!-font-weight-bold'
        },
        value: 'John',
        hint: {
          text: "Include capital letters in the name where needed. For example, Janet."
        }
      }) }}

      {{ govukInput({
        id: 'claimant-last-name',
        name: 'claimant-last-name',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Last name',
          classes: 'govuk-!-font-weight-bold'
        },
        value: 'Smith',
        hint: {
          text: "Include capital letters in the name where needed. For example, Smith-Johnson."
        }
      }) }}



    {{ govukInput({
      id: 'claimant-email',
      name: 'claimant-email',
      classes: "govuk-!-width-two-thirds",
      label: {
        html: 'Email address',
        classes: 'govuk-!-font-weight-bold'
      },
      value: 'johnsmith2233@gmail.com',
      hint: {
        text: ""
      }
    }) }}


{{ govukDateInput({
  id: "claimant-dob",
  namePrefix: "claimant-dob",
  fieldset: {
    legend: {
      text: "Date of birth",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items:
  [
    {
      classes: "govuk-input--width-2",
      name: "day",
      value: "12"
    },
    {
      classes: "govuk-input--width-2",
      name: "month",
      value: "1"
    },
    {
      classes: "govuk-input--width-4",
      name: "year",
      value: "1946"
    }
  ],
  hint: {
    text: "For example, 27 3 1981"
  }
}) }}


{{ govukInput({
  id: 'claimant-postcode',
  name: 'claimant-postcode',
  classes: "govuk-!-width-two-thirds",
  label: {
    html: 'Postcode',
    classes: 'govuk-!-font-weight-bold'
  },
  value: 'SR11 9TH'
}) }}

{{ govukInput({
  id: 'claimant-mobile',
  name: 'claimant-mobile',
  classes: "govuk-!-width-two-thirds",
  label: {
    html: 'Mobile number',
    classes: 'govuk-!-font-weight-bold'
  },
  value: '07755546778',
  hint: {
    text: ""
  }
}) }}



      {% endcall %}

      {{ govukButton({
        text: "Save and continue",
        href: "confirm-details",
        type: "submit"
      }) }}

    </form>

  </div>
</div>

{% endblock %}