{% block pageTitle %}
Start
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip1.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-caption-xl">Jasmine Smith</h1>
    <h1 class="govuk-heading-xl">Account home</h1>

    <h2 class="govuk-heading-l">Your application</h2>



    <h2 class="govuk-heading-m"> <a href="../apply-for-pip/start/.html" class="govuk-link">Continue your application </a>
    </h2>

    <p>Add information about your health condition or disability to complete your PIP application.</p>
    <br>
    <br>
   

  </div>


</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr>
    
  </div>
</div>

  <br>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"> 

        Application for someone else
        
      </h1>
    </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-m"> <a href="../apply-for-pip/start.html" class="govuk-link">Continue James Smith's application </a></h2>

      <p>Add information about their health condition or disability to complete the PIP application.</p>

    </div>
  </div>

  {% endblock %}