{% extends "layouts/main.html" %}

{% block content %}

<!-- Main header -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Prototype Home</h1>

    <p>This prototype is managed by <a
        href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133637996566/Team+Buzzard">Team Buzzard</a></p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">

          Useful links


          <h3 class="govuk-heading-s">


            <li> <a
                href="../https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133758622082/Appointees+MVP+E2E+design+decisions+log">Design
                decisions</a> </li>
            <li> <a
                href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133752390955/3.+Usability+Testing+with+PAB+Findings">Usability
                testings with PABs (findings)</a> </li>
            <li> <a
                href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1729763481203/eb9ab54ef019c0b9edf3e3da01f6a5f57407407e?wid=0-1730903122836&amp;outline=open">Mural
                for register flow</a> </li>
            <li> <a href="https://pip-appointee-invited-digital-047e64549371.herokuapp.com/">Legacy journey - v21</a>
            </li>
            </ul>
          </h3>







      </div>
    </div>

    <hr>
    <br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">

          MVP for the appointee invited digital journey
          <br>
          <p>This is version 22 in the prototype.</p>

        </h1>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">


        <h2 class="govuk-heading-m"> HIG for an appointee</a></h2>

        <p>Journey for an appointee to complete the Health Information Gather (HIG) for someone else.</p>

        <h3 class="govuk-heading-s"> <a href="../v22/appointee-for-claimant-single.html" class="govuk-link">View HIG for an appointee journey</a></h3>
      </div>

      <div class="govuk-grid-column-one-half">


        <h2 class="govuk-heading-m"> Agent UI for an appointee</a></h2>

        <p>Journey for an agent to register an appointee, so they can access and complete the Health Information Gather (HIG) for someone else.</p>

        <h3 class="govuk-heading-s"> <a href="../agent-ui/search" class="govuk-link">View agent UI for an appointee journey</a></h3>

      </div>




    </div>

    <hr>
    <br>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">

          Further exploration
          <br>

          <p>Account home versions for when an appointee manages more than one PIP application. </p>

        </h1>
      </div>
    </div>
 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">


        <h2 class="govuk-heading-m"> Appointee and claimant</a></h2>

        <p>Journey for an appointee applying for themselves and someone else.</p>

        <h3 class="govuk-heading-s"> <a href="../v22/appointee-and-claimant.html" class="govuk-link">View appointee and claimant account home</a></h3>
      </div>

      <div class="govuk-grid-column-one-half">


        <h2 class="govuk-heading-m"> Appointee for multiple claimants</a></h2>

        <p>Journey for an appointee applying for 2 or more other people.</p>

        <h3 class="govuk-heading-s"> <a href="../v22/appointee-for-claimant.html" class="govuk-link">View appointee for multiple claimants account home</a></h3>


      </div>    


      {% endblock %}