{% extends "layouts/main.html" %}

{% block content %}

<!-- Main header -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Prototype Home</h1>

<p>This prototype is managed by <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133637996566/Team+Buzzard">Team Buzzard</a></p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"> 
  
      Useful links


<h3 class="govuk-heading-s"> 
  

<li> <a href="../https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133758622082/Appointees+MVP+E2E+design+decisions+log">Design decisions</a> </li>
<li> <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133752390955/3.+Usability+Testing+with+PAB+Findings">Usability testings with PABs (findings)</a> </li>
<li> <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1729763481203/eb9ab54ef019c0b9edf3e3da01f6a5f57407407e?wid=0-1730903122836&amp;outline=open">Mural for register flow</a> </li>
<li> <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1729763481203/eb9ab54ef019c0b9edf3e3da01f6a5f57407407e?wid=0-1730903122836&amp;outline=open">Legacy journey - v21</a> </li>
</ul>
</h3>




  


    </div>
</div>

<hr>
<br>

   
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l"> 
          
               Final MVP
    <br>
                <p>This is version 22 in the prototype. </p>
                
              </h1>
            </div>
          </div>
          
          
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
           
        
                <h2 class="govuk-heading-m"> Appointee journey</a></h2>
               
                <p>Journey focused on a single application, claiming for someone else.</p>

                <h3 class="govuk-heading-s"> <a href="../v22/appointee-for-claimant-single.html" class="govuk-link">Link to prototype</a></h3>
        </div>
        
        <div class="govuk-grid-column-one-half">
        
        
                <h2 class="govuk-heading-m"> Agent UI</a></h2>
               
                <p>Journey focused on a single claimant, claiming for themselves and another person.</p>
                
                <h3 class="govuk-heading-s"> <a href="../agent-ui/search" class="govuk-link">Link to prototype</a></h3>
              
              </div>
          
    


</div>

        <hr>
        <br>


   
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l"> 
      
            Further exploration
<br>

            <p>Journey focused on multiple applications, claiming for two others. </p>
            
          </h1>
        </div>
      </div>
      
      
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
       
    
            <h2 class="govuk-heading-m"> Appointee and claimant</a></h2>
           
            <p>Journey focused on a single application, claiming for themselves and an application for another person.</p>

            <h3 class="govuk-heading-s"> <a href="../v22/appointee-and-claimant.html" class="govuk-link">Link to prototype</a></h3>
    </div>
    
    <div class="govuk-grid-column-one-half">
    
    
            <h2 class="govuk-heading-m"> Appointee for multiple claimants</a></h2>
           
            <p>Journey focused on multiple applications, claiming for two others. </p>

            <h3 class="govuk-heading-s"> <a href="../v22/appointee-for-claimant.html" class="govuk-link">Link to prototype</a></h3>
            
          
          </div>
      

{% endblock %}
