{% extends "layouts/main.html" %}

{% block content %}

<!-- Main header -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Prototype Home</h1>

<p>This prototype is managed by Team Buzzard.</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Appointee journey
        </h2>

        <p class="govuk-body">

            Updated designs based on feedback

            <ul class="govuk-list">
                <li>
                    - implemented header 
                </li>
               
    

        </p>
            



<ul class="govuk-list">

    <a href="link-1" class="govuk-link govuk--no-visited-state govuk-!-font-weight-bold">

Start prototype
    </a>


<br>
<br>
<br>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Appointee and claimant
        </h2>

        <p class="govuk-body">

            Updated designs based on feedback

            <ul class="govuk-list">
                <li>
                    - implemented header 
                </li>

               
                
    

        </p>
            



<ul class="govuk-list">

    <a href="link-1" class="govuk-link govuk--no-visited-state govuk-!-font-weight-bold">

Start prototype
    </a>


<br>
<br>
<br>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Appointee for claimant
        </h2>

        <p class="govuk-body">

            Updated designs based on feedback

            <ul class="govuk-list">
                <li>
                    - implemented header 
                </li>
 
             
                
    

        </p>
            



<ul class="govuk-list">

    <a href="link-1" class="govuk-link govuk--no-visited-state govuk-!-font-weight-bold">

Start prototype
    </a>


<br>
<br>

<hr>

</div>

</div>

<!-- agent ui section -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Agent UI
        </h2>

        <p class="govuk-body">

            Updated designs based on feedback

            <ul class="govuk-list">
                <li>
                    - implemented header 
                </li>
               
    

        </p>
            



<ul class="govuk-list">

    <a href="link-1" class="govuk-link govuk--no-visited-state govuk-!-font-weight-bold">

Start prototype
    </a>


{% endblock %}
