{% extends "layouts/main.html" %}

{% block content %}

<!-- Main header -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Account Home</h1>
</div>
</div>

<!-- Three columns -->

<div class="govuk-grid-row">
<!-- Column 1 -->
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Appointee</h2>
<p class="govuk-body">
One self managed application.
</p>

<a href="/appointee-single" class="govuk-button">
View
</a>

</div>

<!-- Column 2 -->

<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Appointee and claimant</h2>
<p class="govuk-body">
One self managed application plus another application for another person.
</p>
<a href="/appointee-and-claimant" class="govuk-button">
View
</a>
</div>

<!-- Column 3 -->

<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Appointee for claimant</h2>
<p class="govuk-body">
Two applications for other people. 
</p>
<a href="/appointee-for-claimant" class="govuk-button">
View
</a>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l"></h2>


<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Agent UI</h2>
<p class="govuk-body">
Prototype to test with agents for appointees
</p>
  
<a href="/agent-ui/search.html" class="govuk-button">
View
</a>
  
</div>

</div>

{% endblock %}