{% set pageTitle = "Does your condition affect you dressing or undressing?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "appointee-question",
        fieldset: {
          legend: {
            text: "What type of appointee does this claimant have?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
        {
          value: "PAB",
          text: "Personal Acting Body (PAB)",
          checked: checked("appointee-question", "Yes"),
          hint: {
            text: "An individual, for example a friend or relative"
          }
        },
        {
          value: "govuk-one-login",
          text: "Corporate Acting Body (CAB)",
          checked: checked("appointee-question", "No"),
          hint: {
            text: "An organisation or representative of an organisation, for example a solicitor or local council"
          }
        }
      ]
      }) }}

      <a href="claimant-details.html" class="govuk-button">Continue</a>

    </form>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
