{% set pageTitle = "Information sent" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div class="govuk-inset-text">    <p>You are viewing version A of this page. <a href="../health-form/confirmation-b.html" > Show version B</a> </p></div> -->

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Email sent to janetharding@gmail.com
      </h1>
      <div class="govuk-panel__body">
        {{data['appointee-email']}}
      </div>
    </div>

    <p>The claimant can now sign in and use the <b>Invited digital PIP2</b> process.</p>

    <a href="search.html" class="govuk-button govuk-button"> Back to search</a>
      
  </div>
</div>
{% endblock %}
