{% set pageTitle = "Information sent" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: "Email sent to Janet Harding",
          html: "janetharding@gmail.com"
        }) }}

    <a href="search.html" class="govuk-button govuk-button"> Back to search</a>
      
  </div>
</div>
{% endblock %}
