{% set pageTitle = "Check your answers: dressing and undressing" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

{{ govukInsetText({

    html: "You are viewing version 1a, <a href='details-record-2b.html' class='govuk-link'>swap to 1b </a>"
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="#">


      <h1 class="govuk-heading-l">Check the claimant details and send email</h1>
      
      <p class="govuk-paragraph"> To move the claimant into the invited digital process, check and confirm the details on their record and send email.</p>
      

      {# Claimant Details Summary List #}
      {{ govukSummaryList({
          rows: [
              {
                  key: {
                      text: "National insurance number"
                  },
                  value: {
                      text: 'AB 11 22 33 C'
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change",
                          visuallyHiddenText: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "First name"
                  },
                  value: {
                      text: data['claimant-first-name']
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              },
              {
                  key: {
                      text: "Last name"
                  },
                  value: {
                      text: data['claimant-last-name']
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              },
              {
                  key: {
                      text: "Email address"
                  },
                  value: {
                      text: data['claimant-email']
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              },
              {
                  key: {
                      text: "Date of birth"
                  },
                  value: {
                      text: '12 January 1946'
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              },
              {
                  key: {
                      text: "Postcode"
                  },
                  value: {
                      text: data['claimant-postcode']
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              },
              {
                  key: {
                      text: "Mobile number"
                  },
                  value: {
                      text: data['claimant-mobile']
                  },
                  actions: {
                      items: [{
                          href: "/v22/agent-ui-rep/claimant-details.html",
                          text: "Change"
                      }]
                  }
              }
          ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Service type </h2>

      {# Claimant Details Summary List #}
      {{ govukSummaryList({
          rows: [
              {
                  key: {
                      text: "Service type offered"
                  },
                  value: {
                      text: 'Only PIP 2 Online'
                  },
                  actions: {
                      items: [{
                          href: "#",
                          text: "",
                          visuallyHiddenText: ""
                      }]
                  }
              }
            ]
      }) }}


    

      <a href="confirmation.html" class="govuk-button">Confirm and send email</a>
    
    
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}