
{% set pageTitle = "Check your answers: dressing and undressing" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

{{ govukInsetText({

    html: "You are viewing version 1b, <a href='details-record-1a.html' class='govuk-link'>swap to 1a </a>"
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="#">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Check the claimant details and send email</h1>
      
      <p class="govuk-paragraph"> To move the claimant into the invited digital process, check and confirm the details on their record and send email.</p>

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Details </h2>

      {# Claimant Details Summary List #}
      {{ govukSummaryList({
          rows: [
              {
                  key: {
                      text: "National insurance number"
                  },
                  value: {
                      text: 'AB 11 22 33 C'
                  },
                  actions: {
                      items: [{
                          href: "#",
                          text: "",
                          visuallyHiddenText: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "First name"
                  },
                  value: {
                      text:'Janet'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "Last name"
                  },
                  value: {
                      text: 'Harding'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "Email address"
                  },
                  value: {
                      text: 'jh@gmail.com'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "Date of birth"
                  },
                  value: {
                      text: '12 January 1946'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "Postcode"
                  },
                  value: {
                      text: 'SW9 6GR'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              },
              {
                  key: {
                      text: "Mobile number"
                  },
                  value: {
                      text: '07876543210'
                  },
                  actions: {
                      items: [{
                          href: "./details",
                          text: ""
                      }]
                  }
              }
          ]
      }) }}


      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Service type </h2>

      {# Claimant Details Summary List #}
      {{ govukSummaryList({
          rows: [
              {
                  key: {
                      text: "Service type offered"
                  },
                  value: {
                      text: 'Only PIP 2 Online'
                  },
                  actions: {
                      items: [{
                          href: "#",
                          text: "",
                          visuallyHiddenText: ""
                      }]
                  }
              }
            ]
      }) }}

      <p><a href="/v22/agent-ui-rep/claimant-details.html" >Change details</a></p> 

      <a href="confirmation.html" class="govuk-button">Confirm and send email</a>
    

    
      
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
