{% set pageTitle = "Tell us about any therapies you take at home that need the help of another person" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {{ govukTextarea({
        name: "managingtreatments-therapies",
        id: "managingtreatments-therapies",
        rows: "18",
        value: data['managingtreatments-therapies'],
        label: {
          text: "At home therapies with the help of someone else ",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          html: '
          <p>We want to know about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>what the therapy is</li>
            <li>how often they receive the therapy</li>
            <li>how long the therapy takes</li>
            <li>the type of assistance they need from another person and for how long</li>
            <li>tell us about any help you feel they need but do not get</li>
          </ul>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Example</h2>
            <p>“They need home dialysis for 3 hours on Monday and Friday each week. Their partner helps them set up the dialysis equipment and supervises them during the dialysis to make sure they stay safe.”</p>
          </div>
          <h2 class="govuk-heading-m">Tell us about the therapies they have at home with the help of someone else</h2>
        '
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "./_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
