{% set pageTitle = "Check the claimant details and send email" %}

{% extends "v24-5/includes/layout.html" %}

{% block beforeContent %}
  {% include "v24-5/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirmation" id="form" method="post">


      <h1 class="govuk-heading-xl">Check details and send invitation email</h1>


<!-- 
      <table class="govuk-table">
          
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" width="37%"> Can we send a new online application form?</th>
                <td class="govuk-table__cell" >Yes</td>
                <td class="govuk-table__cell"></td>
    
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">National Insurance number	</th>
                <td class="govuk-table__cell">AA 11 22 33 D	</td>
                <td class="govuk-table__cell"><a href="change-details">Change</a></td>
    
              </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">First name</th>
            <td class="govuk-table__cell">John</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last name</th>
            <td class="govuk-table__cell">Smith</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email address</th>
            <td class="govuk-table__cell">	
                johnsmith2233@gmail.com</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 January 1946</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">SR11 9TH</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mobile number</th>
            <td class="govuk-table__cell">07755546778</td>
            <td class="govuk-table__cell"><a href="change-details">Change</a></td>

          </tr>
        
        </tbody>
      </table> -->



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!-- <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key">
            Can we send a new online application form?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            AA 11 22 33 D
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            John
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> customer reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">	johnsmith2233@gmail.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of birth	
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">		12 January 1946</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Postcode	
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">	SR11 9TH</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Mobile number		
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07755546778</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-details">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
</dl>




     

      <button class="govuk-button" data-module="govuk-button">Confirm and send email</button>

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
