{% set pageTitle = "Information sent" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div class="govuk-inset-text">    <p>You are viewing version A of this page. <a href="../health-form/confirmation-b.html" > Show version B</a> </p></div> -->

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Stage 2 submitted
      </h1>
    
    </div>


    <p class="govuk-body">We have received the second stage of James' PIP application and have sent a confirmation email to <strong>jasmine.smith@gmail.com</strong>.</p>
    <h2 class="govuk-heading-m">Download a copy of the completed form</h2>

    <p><a href="#">Download the completed form (PDF)</a></p>

    <p>You will not be able to access this form after you leave this page.</p>
    <p>You do not need to do anything else. If you want to add more evidence you can sign back in and upload it before the deadline. </p>

    <a href="sign-out" class="govuk-button govuk-button"> Sign out</a>
    <p> <a href="../account-home.html"> Return to home </a> </p>
    <p> <a href="../submission-email.html"> View submission email </a> </p>
    <p> <a href="../supporting-evidence-email.html"> View supporting evidence email </a> </p>
      
  </div>
</div>
{% endblock %}
