{% extends "layouts/main.html" %}

{% block pageTitle %}
User Research
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">User research</h1>

      <p><a href="/v21/govuk/how-to-claim">Start a new claim</a></p>

      <p><a href="/v21/health-form/complete-task-list">Upload supporting evidence</a></p>

      <!-- <p><a href="/v20v1/verify/sign-in/dth">Continue your claim</a></p> -->

      <!-- <p><a href="/v20v2/verify/sign-in/dth">Post submission</a></p> -->


      <!-- <p><a href="/apply-for-pip/govuk/how-to-claim">1. Start page</a></p>

      <p><a href="/apply-for-pip/eligibility/postcode-check">2. Postcode</a></p>

      <p><a href="/apply-for-pip/verify/register/register-start">3. Register</a></p>

      <p><a href="/apply-for-pip/verify/register/successful">4. Registered</a></p>

      <p><a href="/apply-for-pip/verify/sign-in/dth">5. Sign in</a></p>

      <p><a href="/apply-for-pip/claim-registration/start">6. Apply for PIP</a></p>

      <p><a href="/apply-for-pip/claim-registration/personal-details/name">7. Name</a></p>

      <p><a href="/apply-for-pip/claim-registration/personal-details/find-an-address/search">8. Address</a></p>

      <p><a href="/apply-for-pip/claim-registration/personal-details/bank-account">9. Bank details</a></p>

      <p><a href="/apply-for-pip/claim-registration/personal-details/check-answers-2">10. Check personal details</a></p>

      <p><a href="/apply-for-pip/claim-registration/residency/check-answers-3">11. Check residency details</a></p>

      <p><a href="/apply-for-pip/claim-registration/your-health/hcps">13. HCP</a></p>

      <p><a href="/apply-for-pip/claim-registration/your-health/in-hospital">14. Current location</a></p>

      <p><a href="/apply-for-pip/claim-registration/motability-scheme">15. Motability</a></p>

      <p><a href="/apply-for-pip/claim-registration/confirmation">16. Stage one submitted</a></p>

      <p><a href="/apply-for-pip/health-form/task-list">17. Task list</a></p>

      <p><a href="/apply-for-pip/health-form/complete-task-list">18. Completed task list </a></p>

      <p><a href="/apply-for-pip/health-form/supporting-evidence/intro">19. Introduction to Evidence</a></p>

      <p><a href="/apply-for-pip/health-form/supporting-evidence/supporting-evidence-upload-1">20. Evidence upload</a></p>

      <p><a href="/apply-for-pip/health-form/supporting-evidence/supporting-evidence-upload-1">21. Declaration</a></p>

      <p><a href="/apply-for-pip/health-form/confirmation">22. Stage two submitted</a></p>

      <p><a href="https://prototype-dth.herokuapp.com/idv/hmrciv/start-page">23. Identity verification </a></p>

      <p><a href="https://prototype-dth.herokuapp.com/idv/hmrciv/choose-2-items ">24. ID choose items </a></p>

      <p><a href="/apply-for-pip/claim-registration/language-preference">25. Language preference</a></p> -->



    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
